/.gradle
/.idea
/out
/build
*.iml
*.ipr
*.iws
/app/build/
/adapter/build/
/common/build/
/domain/build/
/port/build/
/chatting/build/
/infrastructure/server-config/build/
/infrastructure/database/build/
/infrastructure/kafka/build/